<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.sbdsys.mapper.BranchCommunityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.sbdsys.entity.BranchCommunity">
        <id column="id" property="id" />
        <result column="community" property="community" />
        <result column="branch" property="branch" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", community AS "community", branch AS "branch"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.sbdsys.model.result.BranchCommunityResult" parameterType="cn.stylefeng.guns.modular.sbdsys.model.params.BranchCommunityParam">
        select
        <include refid="Base_Column_List"/>
        from sbd_branch_community where 1 = 1
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.sbdsys.model.result.BranchCommunityResult" parameterType="cn.stylefeng.guns.modular.sbdsys.model.params.BranchCommunityParam">
        select
        <include refid="Base_Column_List"/>
        from sbd_branch_community where 1 = 1
    </select>

    <delete id="deleteByBranch" parameterType="String">
		delete from sbd_branch_community where branch = #{branch}
	</delete>

</mapper>
