<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.sbdsys.mapper.WishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.sbdsys.entity.Wish">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="deadline" property="deadline" />
        <result column="activity_type" property="activityType" />
        <result column="note" property="note" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", title AS "title", deadline AS "deadline", activity_type AS "activityType", note AS "note", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", status AS "status"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.sbdsys.model.result.WishResult" parameterType="cn.stylefeng.guns.modular.sbdsys.model.params.WishParam">
        select a.*,t.icon,t.score,c.name as communityName
        from sbd_wish a
        left join sbd_activity_type t on a.activity_type = t.id
        left join sbd_community c on a.community=c.id
        <where>
            <if test="paramCondition.status != null and paramCondition.status != 0">
                and a.status = #{paramCondition.status}
            </if>
            <if test="paramCondition.createUser != null and paramCondition.createUser != 0">
                and a.create_user = #{paramCondition.createUser}
            </if>
            <if test="paramCondition.community != null and paramCondition.community != ''">
                and a.community = #{paramCondition.community}
            </if>
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and a.title = like CONCAT('%', #{paramCondition.title}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.sbdsys.model.result.WishResult" parameterType="cn.stylefeng.guns.modular.sbdsys.model.params.WishParam">
        select a.*,t.icon,t.score,c.name as communityName
        from sbd_wish a
        left join sbd_activity_type t on a.activity_type = t.id
        left join sbd_community c on a.community=c.id
        <where>
            <if test="paramCondition.status != null and paramCondition.status != 0">
                and a.status = #{paramCondition.status}
            </if>
            <if test="paramCondition.createUser != null and paramCondition.createUser != 0">
                and a.create_user = #{paramCondition.createUser}
            </if>
            <if test="paramCondition.community != null and paramCondition.community != ''">
                and a.community = #{paramCondition.community}
            </if>
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and a.title = like CONCAT('%', #{paramCondition.title}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectByPrimaryId" resultType="cn.stylefeng.guns.modular.sbdsys.model.result.WishResult" parameterType="String">
        select a.*,t.icon,t.score,c.name as communityName
        from sbd_wish a
        left join sbd_activity_type t on a.activity_type = t.id
        left join sbd_community c on a.community=c.id
        where a.id=#{id}
    </select>

    <select id="customPageListByUser" resultType="cn.stylefeng.guns.modular.sbdsys.model.result.WishResult">
        select a.*,t.icon,t.score,c.name as communityName
        from sbd_wish a
        left join sbd_activity_type t on a.activity_type = t.id
        left join sbd_community c on a.community=c.id
        left join (select distinct(wish_id) as wish_id from sbd_wish_record where user_id = #{userId}) as tmp
        on tmp.wish_id = a.id
        where tmp.wish_id is not null
        <if test="status != null and status != 0">
            and a.status = #{status}
        </if>
        order by create_time desc
    </select>

</mapper>
